@media (max-width:1200px) {
    .section_3-cards {
        margin-bottom: 20px;
        transition: all linear 0.5s;
    }

    .works-wrapper {
        flex-wrap: wrap;
        transition: all linear 0.5s;
    }

    .section_3-paragraph {
        font-size: 12px;
        transition: all linear 0.5s;
    }
}

@media (max-width:1190px) {
    .section_3-cards_wrapper {
        gap: 30px;
        transition: all linear 0.5s;
    }
}

@media (max-width:1180px) {
    .section_2-h2 {
        font-size: 35px;
        transition: all linear 0.5s;
    }

    .section_2-paragraph {
        font-size: 15px;
        transition: all linear 0.5s;
    }

    .section-wrapper__2 {
        flex-wrap: wrap;
        transition: all linear 0.5s;
    }

    .section_5-p {
        font-size: 18px;
        transition: all linear 0.5s;
    }

    .section_5-h2 {
        font-size: 50px;
        transition: all linear 0.5s;
    }
}

@media (max-width:890px) {
    .section_3-h2 {
        font-size: 35px;
        transition: all linear 0.5s;
    }

    .footer-heading {
        font-size: 50px;
        transition: all linear 0.5s;
    }

    .section_5-p {
        font-size: 16px;
        transition: all linear 0.5s;
    }

    .section_5-h2 {
        font-size: 40px;
        transition: all linear 0.5s;
    }
}

@media (max-width:760px) {
    .heading-1 {
        font-size: 70px;
        transition: all linear 0.5s;
    }

    .paragraph {
        font-size: 20px;
        transition: all linear 0.5s;
    }

    .nav {
        display: none;
        transition: all linear 0.5s;
    }
    
    .header-link {
        display: none;
        transition: all linear 0.5s;
    }

    .burger-menu {
        display: block;
        transition: all linear 0.5s;
    }

    .footer-headings-wapper {
        flex-wrap: wrap;
        transition: all linear 0.5s;
    }

    .footer-navigation-wrapper {
        gap: 100px;
        transition: all linear 0.5s;
    }

}

@media (max-width:740px) {
    .level-wrapper {
        flex-wrap: wrap;
        transition: all linear 0.5s;
    }

    .footer-heading {
        font-size: 40px;
        transition: all linear 0.5s;
    }

    .footer-navigation_h4 {
        font-size: 16px;
        transition: all linear 0.5s;
    }

    .about {
        font-size: 14px;
        transition: all linear 0.5s;
    }

    .level-h3 {
        font-size: 25px;
        transition: all linear 0.5s;
    }

    .level-wrapper {
        gap: 50px;
        transition: all linear 0.5s;
    }

    .years-experience {
        font-size: 14px;
        transition: all linear 0.5s;
    }
}

@media (max-width:640px) {
    .heading-1 {
        font-size: 60px;
        transition: all linear 0.5s;
    }

    .section_4-h2 {
        font-size: 40px;
        transition: all linear 0.5s;
    }

    .links-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        transition: all linear 0.5s;
    }

    .links {
        font-size: 12px;
        padding-right: 100px;
        transition: all linear 0.5s;
    }

    .career-path_cards-h3 {
        font-size: 20px;
        transition: all linear 0.5s;
    }

    .career-path_cards-p {
        font-size: 14px;
        transition: all linear 0.5s;
    }

    .pinned {
        left: -30px;
        transition: all linear 0.5s;
    }
}

@media (max-width:620px) {
    .paragraph {
        font-size: 18px;
        transition: all linear 0.5s;
    }

    .career-path_cards {
        width: 400px;
        height: 200px;
        transition: all linear 0.5s;
    }

    .career-path_cards-system {
        font-size: 15px;
        transition: all linear 0.5s;
    }
}

@media (max-width:570px) {
    .heading-1 {
        font-size: 50px;
        transition: all linear 0.5s;
    }

    .paragraph {
        font-size: 18px;
        transition: all linear 0.5s;
    }

    .react {
        padding: 5px 10px;
        font-size: 10px;
        transition: all linear 0.5s;
    }
}

@media (max-width:540px) {
    .section_2-h3 {
        font-size: 15px;
        transition: all linear 0.5s;
    }

    .section_2-h2 {
        font-size: 25px;
        transition: all linear 0.5s;
    }

    .section_2-paragraph {
        font-size: 12px;
        transition: all linear 0.5s;
    }

    .group-16 {
        width: 30px;
        height: 30px;
        transition: all linear 0.5s;
    }

    .card-h3 {
        font-size: 12px;
        transition: all linear 0.5s;
    }

    .card-paragraph {
        font-size: 10px;
        transition: all linear 0.5s;
    }
}

@media (max-width:500px) {
    .heading-1 {
        font-size: 40px;
        transition: all linear 0.5s;
    }

    .paragraph {
        font-size: 14px;
        transition: all linear 0.5s;
    }

    .section_4-h2 {
        font-size: 30px;
        transition: all linear 0.5s;
    }

    .pinned {
        width: 10px;
        height: 10px;
        left: -20px;
        transition: all linear 0.5s;
    }

    .pinned-1 {
        width: 10px;
        height: 10px;
        right: -10px;
        transition: all linear 0.5s;
    }

    .box-1 {
        margin: 0;
        transition: all linear 0.5s;
    }

    .pinned {
        display: none;
        transition: all linear 0.5s;
    }

    .pinned-1 {
        display: none;
        transition: all linear 0.5s;
    }
}

@media (max-width:440px) {
    .career-path_cards-p {
        font-size: 10px;
        transition: all linear 0.5s;
    }

    .section_4-h2 {
        font-size: 25px;
        transition: all linear 0.5s;
    }

    .career-path_cards {
        width: 300px;
        height: 150px;
        transition: all linear 0.5s;
    }

    .hero-btn {
        padding: 10px 30px;
        font-size: 12px;
        transition: all linear 0.5s;
    }

    .hero-btn_1 {
        padding: 10px 30px;
        font-size: 14px;
        transition: all linear 0.5s;
    }

    .download {
        width: 18px;
        height: 18px;
        transition: all linear 0.5s;
    }
}

@media (max-width:380px) {
    .header-brand {
        font-size: 20px;
        transition: all linear 0.5s;
    }

    .heading-1 {
        font-size: 28px;
        transition: all linear 0.5s;
    }

    .paragraph {
        font-size: 12px;
        transition: all linear 0.5s;
    }

    .hero-btn {
        font-size: 10px;
        padding: 10px 30px;
        transition: all linear 0.5s;
    }

    .hero-btn_1 {
        font-size: 10px;
        padding: 10px 20px;
        transition: all linear 0.5s;
    }

    .section_2-h2 {
        font-size: 20px;
        transition: all linear 0.5s;
    }

    .group-16 {
        width: 20px;
        height: 20px;
        transition: all linear 0.5s;
    }

    .card-h3 {
        font-size: 10px;
        transition: all linear 0.5s;
    }

    .card-paragraph {
        font-size: 8px;
        transition: all linear 0.5s;
    }

    .technical-wrapper {
        height: 400px;
        transition: all linear 0.5s;
    }

    .technical-inner_h3 {
        font-size: 20px;
        transition: all linear 0.5s;
    }

    .frontend-h4 {
        font-size: 12px;
        transition: all linear 0.5s;
    }

    .section_3-h2 {
        font-size: 30px;
        transition: all linear 0.5s;
    }

    .rectangle-19 {
        width: 70px;
        height: 70px;
        transition: all linear 0.5s;
    }

    .section_5-h2 {
        font-size: 28px;
        transition: all linear 0.5s;
    }

    .section_5-p {
        font-size: 12px;
        transition: all linear 0.5s;
    }

    .footer-heading {
        font-size: 30px;
        transition: all linear 0.5s;
    }

    .group-2 {
        width: 40px;
        height: 40px;
        transition: all linear 0.5s;
    }

    .footer-navigation_h4 {
        font-size: 14px;
        transition: all linear 0.5s;
    }

    .about {
        font-size: 12px;
        transition: all linear 0.5s;
    }
}